# ---- Maven ----
target/
!.mvn/wrapper/maven-wrapper.jar

# ---- Java ----
*.class
*.log

# ---- IDEs ----
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# ---- Sistema operativo ----
.DS_Store

# ---- Secretos / entorno local ----
.env
